<div class="px-60 py-20">
  <div class="flex justify-center">
    <p class="text-3xl font-medium">Leave Application Form</p>
  </div>

  <div class="mt-10">
    <form [formGroup]="applicationForm">
      <div class="grid grid-cols-2 gap-10">
        <mat-form-field class="w-full">
          <mat-label>Full Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Designation</mat-label>
          <input formControlName="designation" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type of Leave</mat-label>
          <mat-select formControlName="typeOfLeave">
            <mat-option [value]="item.type" *ngFor="let item of leaveType">{{
              item.type
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date | From - To</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              formControlName="startDate"
              matStartDate
              placeholder="Start date"
            />
            <input
              formControlName="endDate"
              matEndDate
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Time | 9:00 am - 6:00 pm</mat-label>
          <input formControlName="time" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Supervisor</mat-label>
          <mat-select formControlName="supervisor">
            <mat-option [value]="item.type" *ngFor="let item of supervisor">{{
              item.type
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Reason for Leave</mat-label>
          <textarea formControlName="reason" matInput rows="5"></textarea>
        </mat-form-field>
        <br />
        <mat-checkbox color="primary">
          I agree to the Terms & Condtions
        </mat-checkbox>
      </div>

      <button
        (click)="submit()"
        class="mt-10 px-4 py-1"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </div>
</div>
